<?xml version="1.0"?>
<config>

    <modules>
        <Ip_Fitments>
            <version>0.1.6</version>
        </Ip_Fitments>
    </modules>

    <global>
        <resources>
            <fitments_setup>
                <setup>
                    <module>Ip_Fitments</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </fitments_setup>
        </resources>
        <helpers>
            <fitments>
                <class>Ip_Fitments_Helper</class>
            </fitments>
            <catalogsearch>
                <rewrite>
                    <data>Ip_Fitments_Helper_CatalogSearch</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <blocks>
            <fitments>
                <class>Ip_Fitments_Block</class>
            </fitments>
        </blocks>
        <models>
            <fitmentsearch>
                <class>Ip_Fitments_Model_Search</class>
                <resourceModel>fitmentsearch_resource</resourceModel>
            </fitmentsearch>
            <fitmentsearch_resource>
                <class>Ip_Fitments_Model_Search_Resource</class>
                <entities>
                    <query>
                        <table>fitmentsearch_query</table>
                    </query>
                    <result>
                        <table>fitmentsearch_result</table>
                    </result>
                </entities>
            </fitmentsearch_resource>
            <fitments>
                <class>Ip_Fitments_Model</class>
                <resourceModel>fitments_resource</resourceModel>
            </fitments>
            <fitments_resource>
                <class>Ip_Fitments_Model_Resource</class>
                <entities>
                    <make>
                        <table>fitment_entity_make</table>
                    </make>
                    <model>
                        <table>fitment_entity_model</table>
                    </model>
                    <year>
                        <table>fitment_entity_year</table>
                    </year>
                    <submodel>
                        <table>fitment_entity_submodel</table>
                    </submodel>
                    <engine>
                        <table>fitment_entity_engine</table>
                    </engine>
                    <drivetrain>
                        <table>fitment_entity_drivetrain</table>
                    </drivetrain>
                    <transmission>
                        <table>fitment_entity_transmission</table>
                    </transmission>
                    <note>
                        <table>fitment_entity_note</table>
                    </note>
                    <fitment>
                        <table>fitment_entity</table>
                    </fitment>
                </entities>
            </fitments_resource>
        </models>
        <index>
            <indexer>
                <fitments_indexer>
                    <model>fitmentsearch/indexer</model>
                </fitments_indexer>
            </indexer>
        </index>
    </global>

    <admin>
        <routers>
            <fitments>
                <use>admin</use>
                <args>
                    <module>Ip_Fitments_Adminhtml</module>
                    <frontName>fitments</frontName>
                </args>
            </fitments>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <fitments>
                    <file>fitments.xml</file>
                </fitments>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <save_product_fitments>
                        <type>singleton</type>
                        <class>fitments/core_observer</class>
                        <method>saveFitments</method>
                    </save_product_fitments>
                </observers>
            </catalog_product_prepare_save>
            <core_block_abstract_to_html_before>
                <observers>
                    <fitments_dashboard_widget>
                        <type>model</type>
                        <class>fitments/core_observer</class>
                        <method>displayDashboardWidget</method>
                    </fitments_dashboard_widget>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <fitments>
                <use>standard</use>
                <args>
                    <module>Ip_Fitments</module>
                    <frontName>fitments_selector</frontName>
                </args>
            </fitments>
            <vehiclesearch>
                <use>standard</use>
                <args>
                    <module>Ip_Fitments_Search</module>
                    <frontName>vehiclesearch</frontName>
                </args>
            </vehiclesearch>
        </routers>
        <layout>
            <updates>
                <fitments>
                    <file>fitments.xml</file>
                </fitments>
            </updates>
        </layout>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <fitments_category_controller>
                        <type>singleton</type>
                        <class>Ip_Fitments_Model_Core_Observer</class>
                        <method>redirectCategory</method>
                    </fitments_category_controller>
                </observers>
            </catalog_controller_category_init_after>
        </events>




    </frontend>

</config>